body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.numero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(25% - 2em);
    height: calc(25% - 2em);
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 4px;
    margin: 1em;
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.menu {
    position: relative;
    z-index: 99;
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    color: #ffd700;
    text-decoration: underline;
}